html, body{
    background-color: #F6F6F6;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
	display: flex;
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: lightblue;
}

#identification{
	 display: left;
   
}


#Panier{

    text-align:center;
    margin: 0 auto;
    padding:0px;   
}

form .erreur{

    color: #900;

}

.erreurs0{

    color: #900;

}

#rechercheArticle{
    text-align:center;
    margin: 0 auto;
    padding:0px;
}


